<% include ../partials/header1 %> 

	
	
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 animate-box">
					<h2 class="text-center para1" Style="padding-top:5%;">3-In-1 Insect, Disease & Mite Control -  MRP: ₹250</h2>
					<div class="owl-carousel owl-carousel-fullwidth product-carousel">
						<div class="item">
							<div class="active text-center">
								<figure class="ui large image">
									<img src="https://res.cloudinary.com/dki1dh3tc/image/upload/v1542728762/4.jpg" alt="user">
								</figure>
							</div>
						</div>
						<div class="item">
							<div class="active text-center">
								<figure class="ui large image">
									<img src="https://res.cloudinary.com/dki1dh3tc/image/upload/v1542728762/4-1.jpg" alt="user">
								</figure>
							</div>
						</div>
						<div class="item">
							<div class="active text-center">
								<figure class="ui large image">
									<img src="https://res.cloudinary.com/dki1dh3tc/image/upload/v1542728762/4-2.jpg"  alt="user">
								</figure>
							</div>
						</div>
						<div class="item">
							<div class="active text-center">
								<figure class="ui large image">
									<img src="https://res.cloudinary.com/dki1dh3tc/image/upload/v1542728765/4-3.jpg" alt="user">
								</figure>
							</div>
						</div>
					
					</div>
				
					
				</div>
			</div>
		
							</div>

				
				</div>
			</div>
		</div>
	</div>

	<div class="ui raised segment">
 							<h1 class="para1">Product Description</h1>
 							<ui>
							<li>Triple protection for flowering plants, trees and shrubs.</li>
							 <li>Kills and controls listed insect pests.</li>
								 <li> MCures and prevents listed fungal disease.</li>
								 <li> Controls Spider Mites</li>
								 
								 
								 </ui>
</div>
<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						
							<p>
								<a href="https://imjo.in/DrtYFF" class="btn btn-primary btn-outline btn-lg">Purchase Now</a>
								<!--<a href="#" class="btn btn-primary btn-outline btn-lg">Compare</a>-->
							</p>
						</div>
					</div>

		<footer id="fh5co-footer" role="contentinfo">


			<div class="row copyright">
				<div class="col-md-12 text-center">
					
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/nishant.phour"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
<% include ../partials/footer1 %> 
