<!DOCTYPE HTML>
<% include ../partials/header1 %> 
		  	<style type="text/css">
body {
    min-height: 2000px;
    padding-top: 70px;
}

	</style>
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image:url(https://res.cloudinary.com/dki1dh3tc/image/upload/v1542774509/71X1Un2xlYL._SL1191_.jpg); background-size:900px 800px;" >
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<div class="desc">
		   						<span class="price">₹600</span>
		   						<h2>Potting Soil</h2>
		   						<p>The use of potting soil makes plants remain lush green.</p>
			   					<p><a href="https://imjo.in/ZmDcbG" class="btn btn-primary btn-outline btn-lg">Purchase Now</a></p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(https://res.cloudinary.com/dki1dh3tc/image/upload/v1542774742/91Vd9ZZomjL._SL1500_.jpg); background-size:800px 800px;">
		   		<div class="container">
		   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<div class="desc">
		   						<span class="price">₹780</span>
		   						<h2>Natural Neem Powder</h2>
		   						<p>Performs the dual functions of both fertilize as well as pesticide.</p>
			   					<p><a href="https://imjo.in/5P3EAX" class="btn btn-primary btn-outline btn-lg">Purchase Now</a></p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(https://res.cloudinary.com/dki1dh3tc/image/upload/v1542775704/71e80X_2BwuXL._SL1200_.jpg); background-size:800px 800px;">
		   		<div class="container">
		   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<div class="desc">
		   						<span class="price">₹800</span>
		   						<h2>Cow Manure</h2>
		   						<p>Supports organic principles and enriches soil.</p>
			   					<p><a href="single.html" class="btn btn-primary btn-outline btn-lg">Purchase Now</a></p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(https://res.cloudinary.com/dki1dh3tc/image/upload/v1542775815/71NYYJNBtpL._SL1024_.jpg); background-size:800px 800px;">
		   		<div class="container">
		   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<div class="desc">
		   						<span class="price">₹100</span>
		   						<h2>CASA DE AMOR ORGANIC SEED STARTER </h2>
		   						<p>Provides very conducive medium for the seeds and seedlings to grow fast and healthy.</p>
			   					<p><a href="single.html" class="btn btn-primary btn-outline btn-lg">Purchase Now</a></p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
	
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5bc6f1a308387933e5bb9a95/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

		<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 text-center">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-credit-card"></i>
						</span>
						<h3>Credit Card</h3>
						<p>No Cost EMI available on credit cards. The total amount you pay to your EMI provider will be equal to the item price.	</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-wallet"></i>
						</span>
						<h3>Save Money</h3>
						<p> Usually an item will go on sale once per month, especially around holiday weekends throughout the year and you can get upto 50% off</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-paper-plane"></i>
						</span>
						<h3>Free Delivery</h3>
						<p>Place a qualifying order of 500 or more with fytocare, and if you're in one of our many local delivery areas, your delivery will be FREE		</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					
					<h2>Fertilizers.</h2>
					<p>Fertilizers give plants essential nutrients to survive and thrive. Learn the basics so you can choose the best fertilizer for your lawn and landscape.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(https://res.cloudinary.com/dki1dh3tc/image/upload/v1542774435/71g_2B3xKEIvL._SL1500_.jpg);">
							<div class="inner">
								<p>
								
									<a href="/shopping/fertilizers/single1" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="/shopping/fertilizers/single1">Bloom Buddy</a></h3>
							<span class="price">₹350</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(https://res.cloudinary.com/dki1dh3tc/image/upload/v1542774509/71X1Un2xlYL._SL1191_.jpg);">
							<span class="sale">Sale</span>
							<div class="inner">
								<p>
								
									<a href="/shopping/fertilizers/single2" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="/shopping/fertilizers/single2">Potting Soil </a></h3>
							<span class="price">₹600</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(https://res.cloudinary.com/dki1dh3tc/image/upload/v1542774742/91Vd9ZZomjL._SL1500_.jpg);">
							<div class="inner">
								<p>
								
									<a href="/shopping/fertilizers/single3" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="/shopping/fertilizers/single3">Natural Neem powder</a></h3>
							<span class="price">₹780</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(https://res.cloudinary.com/dki1dh3tc/image/upload/v1542775704/71e80X_2BwuXL._SL1200_.jpg);">
							<div class="inner">
								<p>
								
									<a href="/shopping/fertilizers/single4" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="/shopping/fertilizers/single4">Cow manure</a></h3>
							<span class="price">₹800</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(https://res.cloudinary.com/dki1dh3tc/image/upload/v1542775815/71NYYJNBtpL._SL1024_.jpg);">
							<div class="inner">
								<p>
									
									<a href="/shopping/fertilizers/single5" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="/shopping/fertilizers/single5">Seed Starter </a></h3>
							<span class="price">₹100</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(https://res.cloudinary.com/dki1dh3tc/image/upload/v1542775989/41PJb5LpYrL.jpg);">
							<div class="inner">
								<p>
									
									<a href="/shopping/fertilizers/single6" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="/shopping/fertilizers/single6">Fast Roots</a></h3>
							<span class="price">₹960</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Fytocare</span>
					<h2>Happy Clients</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="https://i1.wp.com/aboutdci.com/wp-content/uploads/2018/04/Untitled-design-21.png?zoom=2.625&resize=600%2C632&ssl=1" alt="user">
									</figure>
									<span>Priya Sharma </span>
									<blockquote>
										<p>&ldquo;My experience with Fytocare is really satisfactory. I appreciate the eforts put in by the staff of Fytocare to assemble the materials desired by me along with the plants I had ordered online with them. I would like to appreciate Fytocare for their excellent and timely service. Thank You Fytocare.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="https://i.pinimg.com/236x/cb/78/2b/cb782bd9da27e7b6dcd7974d2bb3a42e--india-people-guys.jpg" alt="user">
									</figure>
									<span>Rohit Kumar</a></span>
									<blockquote>
										<p>&ldquo;I am impressed with their collection and services and the way of working too but only problame with them is their not control on after shipping. generallly it should be shipped in such a way that the costumer should be getting it next day but in their case it comes after three to four days in this hot weather resulting a dead or brocken plant. i must have ordered more then
25 plants and i could kept less then 10 plants.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWb57ZIYlxFcFSnyq5MxI7Xp9ytQkgUscWCRbEQxL_Gyecobt1" alt="user">
									</figure>
									<span>Neha Rajput</span>
									<blockquote>
										<p>&ldquo; Hi.i bought green freedom pack n they came in good condition.i want to know how to transfer to new pot if they outgrow existing pot.&rdquo;</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	



	<footer id="fh5co-footer" role="contentinfo">


			<div class="row copyright">
				<div class="col-md-12 text-center">
					
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/nishant.phour"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
<% include ../partials/footer1 %> 

