<!DOCTYPE HTML>
<% include ../partials/header1 %> 
	  	<style type="text/css">
body {
    min-height: 2000px;
    padding-top: 70px;
}

	</style>



	
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image:url(images/product-1.jpg); background-size:900px 800px;" >
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<div class="desc">
		   						<span class="price">₹350</span>
		   						<h2>Ugaoo Betel Leaf (Magai Paan)</h2>
		   						<p>Betel leaf is good for digestion, chewing the leaf after a meal very popular and also having traditional and cultural values.</p>
			   					<p><a href="https://imjo.in/SdKsju" class="btn btn-primary btn-outline btn-lg"  >Purchase Now</a></p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(https://cdn.shopify.com/s/files/1/0204/2542/products/shutterstock_35049577.jpg?v=1508751718); background-size:800px 800px;">
		   		<div class="container">
		   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<div class="desc">
		   						<span class="price">₹600</span>
		   						<h2>African Violet</h2>
		   						<p>Beautiful flowers with plain and rounded leaves.</p>
			   					<p><a href="https://imjo.in/BDprvM" class="btn btn-primary btn-outline btn-lg" >Purchase Now</a></p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(images/product-3.jpg); background-size:800px 800px;">
		   		<div class="container">
		   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<div class="desc">
		   						<span class="price">₹780</span>
		   						<h2>BARBERTON DAISY</h2>
		   						<p> An excellent bridal bouquet choice. </p>
			   					<p><a href="https://imjo.in/QFCeqa" class="btn btn-primary btn-outline btn-lg" >Purchase Now</a></p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(https://cathycowgillflowers.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/e/peace-lily-in-wicker.jpg); background-size:800px 800px;">
		   		<div class="container">
		   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<div class="desc">
		   						<span class="price">₹100</span>
		   						<h2>PEACE LILY</h2>
		   						<p>Peace lilies make excellent houseplants for the home or office.</p>
			   					<p><a href="https://imjo.in/nNyA2t" class="btn btn-primary btn-outline btn-lg" >Purchase Now</a></p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
// <script>
// 	window.SGPMPopupLoader=window.SGPMPopupLoader||{ids:[],popups:{},call:function(w,d,s,l,id){
// 		w['sgp']=w['sgp']||function(){(w['sgp'].q=w['sgp'].q||[]).push(arguments[0]);}; 
// 		var sg1=d.createElement(s),sg0=d.getElementsByTagName(s)[0];
// 		if(SGPMPopupLoader && SGPMPopupLoader.ids && SGPMPopupLoader.ids.length > 0){SGPMPopupLoader.ids.push(id); return;}
// 		SGPMPopupLoader.ids.push(id);
// 		sg1.onload = function(){SGPMPopup.openSGPMPopup();}; sg1.async=true; sg1.src=l;
// 		sg0.parentNode.insertBefore(sg1,sg0);
// 		return {};
// 	}};
// 	SGPMPopupLoader.call(window,document,'script','https://popupmaker.com/assets/lib/SGPMPopup.min.js','c3497496');
// </script>




<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5bc6f1a308387933e5bb9a95/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

	<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 text-center">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-credit-card"></i>
						</span>
						<h3>Credit Card</h3>
						<p>No Cost EMI available on credit cards. The total amount you pay to your EMI provider will be equal to the item price.	</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-wallet"></i>
						</span>
						<h3>Save Money</h3>
						<p> Usually an item will go on sale once per month, especially around holiday weekends throughout the year and you can get upto 50% off</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-paper-plane"></i>
						</span>
						<h3>Free Delivery</h3>
						<p>Place a qualifying order of 500 or more with fytocare, and if you're in one of our many local delivery areas, your delivery will be FREE		</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					
					<h2>Home Plants.</h2>
					<p>Make your house look better with home plants and get frsh air in your house</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-1.jpg);">
							<div class="inner">
								<p>
									
									<a href="/shopping/single1" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="/shopping/single1">Ugaoo Betel Leaf (Magai Paan)</a></h3>
							<span class="price">₹350</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/1.jpg);">
							<span class="sale">Sale</span>
							<div class="inner">
								<p>
								
									<a href="/shopping/single2" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="/shopping/single2">African Violet </a></h3>
							<span class="price">₹600</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-3.jpg);">
							<div class="inner">
								<p>

									<a href="/shopping/single3" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="/shopping/single3">BARBERTON DAISY</a></h3>
							<span class="price">₹780</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-4.jpg);">
							<div class="inner">
								<p>
								
									<a href="/shopping/single4" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="/shopping/single4">MADAGASCAR DRAGON TREE</a></h3>
							<span class="price">₹800</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-5.jpg);">
							<div class="inner">
								<p>
								
									<a href="/shopping/single5" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="/shopping/single5">Peace Lily </a></h3>
							<span class="price">₹100</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(images/product-6.jpg);">
							<div class="inner">
								<p>
								
									<a href="/shopping/single6" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="/shopping/single6">CORSAGE ORCHID</a></h3>
							<span class="price">₹960</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Fytocare</span>
					<h2>Happy Clients</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="https://i1.wp.com/aboutdci.com/wp-content/uploads/2018/04/Untitled-design-21.png?zoom=2.625&resize=600%2C632&ssl=1" alt="user">
									</figure>
									<span>Priya Sharma </span>
									<blockquote>
										<p>&ldquo;My experience with Fytocare is really satisfactory. I appreciate the eforts put in by the staff of Fytocare to assemble the materials desired by me along with the plants I had ordered online with them. I would like to appreciate Fytocare for their excellent and timely service. Thank You Fytocare.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="https://i.pinimg.com/236x/cb/78/2b/cb782bd9da27e7b6dcd7974d2bb3a42e--india-people-guys.jpg" alt="user">
									</figure>
									<span>Rohit Kumar</a></span>
									<blockquote>
										<p>&ldquo;I am impressed with their collection and services and the way of working too but only problame with them is their not control on after shipping. generallly it should be shipped in such a way that the costumer should be getting it next day but in their case it comes after three to four days in this hot weather resulting a dead or brocken plant. i must have ordered more then
25 plants and i could kept less then 10 plants.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWb57ZIYlxFcFSnyq5MxI7Xp9ytQkgUscWCRbEQxL_Gyecobt1" alt="user">
									</figure>
									<span>Neha Rajput</span>
									<blockquote>
										<p>&ldquo; Hi.i bought green freedom pack n they came in good condition.i want to know how to transfer to new pot if they outgrow existing pot.&rdquo;</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	</div>

		<footer id="fh5co-footer" role="contentinfo">


			<div class="row copyright">
				<div class="col-md-12 text-center">
					
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/nishant.phour"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
<% include ../partials/footer1 %> 
